<div class="container-fluid">
    <div class="row">
        <dl class="dl-horizontal">
            <dt>UUID</dt>
            <dd data-bind="text: uuid"></dd>
            <_dt data-translateable="true">Name</_dt>
            <dd data-bind="text: name"></dd>
            <_dt data-translateable="true">Device type</_dt>
            <dd data-bind="text: devicetype"></dd>
            <_dt data-translateable="true">Room</_dt>
            <dd data-bind="text: room"></dd>
            <_dt data-translateable="true">Timestamp</_dt>
            <dd data-bind="text: timeStamp"></dd>
        </dl>
    </div>
    <div class="row agorowbottom">
        <div id="imageContainer" style="width:100%; min-height:100px;"></div>
    </div>
    <div class="row">
        <form class="form-inline">
            <_button type="submit" class="btn btn-primary" data-translateable="true" data-bind="click: getVideoFrame">Refresh</_button>
        </form>
    </div>
</div>
