<div class="container-fluid">
    <div class="row agorowbottom">
        <ul style="list-style-type:none;">
            <li>
                <_strong data-translateable="true">Device type</_strong>:
                <span data-bind="text:devicetype"/>
            </li>
            <li>
                <_strong data-translateable="true">Room</_strong>:
                <span data-bind="text:room"/>
            </li>
            <li>
                <_strong data-translateable="true">Timestamp</_strong>:
                <span data-bind="text:timeStamp"/>
            </li>
        </ul>
    </div>
    <div class="row" data-bind="if: execCommand">
        <form class="form-inline">
            <div class="form-group">
                <_label data-translateable="true">Command</_label>
            </div>
            <div style="display: inline" id="commandList"/>
            <_button type="button" data-translateable="true" data-bind="click: execCommand" class="btn btn-primary">Run</_button>
        </form>
    </div>
</div>
