<div class="container-fluid">
    <div class="row">
        <dl class="dl-horizontal">
            <dt>UUID</dt>
            <dd data-bind="text: uuid"></dd>
            <_dt data-translateable="true">Name</_dt>
            <dd data-bind="text: name"></dd>
            <_dt data-translateable="true">Device type</_dt>
            <dd data-bind="text: devicetype"></dd>
            <_dt data-translateable="true">Room</_dt>
            <dd data-bind="text: room"></dd>
            <_dt data-translateable="true">Timestamp</_dt>
            <dd data-bind="text: timeStamp"></dd>
        </dl>
    </div>
    <div class="row">
        <form class="form-inline">
            <div class="form-group">
                <_label data-translateable="true">Command</_label>
            </div>
            <div style="display: inline" id="commandList"/>
            <_button type="button" data-translateable="true" data-bind="click: execCommand" class="btn btn-primary">Run</_button>
        </form>
    </div>
</div>
