*.so
*.so.*
*.a
*.pyc
*.o
CMakeFiles
cmake_install.cmake
CMakeCache.txt
build/
Makefile
*.core
scripts/agososreport.sh
shared/agoclient/_directories.py
version.h
CTestTestfile.cmake
Testing/

# Eclipse/PTP related files
.project
.pydevproject
/.settings/
/.ptp-sync/
.ptp-sync-folder

# Apple FileSystem
.DS_Store
core/.DS_Store
core/rpc/.DS_Store
core/rpc/html/.DS_Store
core/rpc/html/configuration/devices/.DS_Store
unittest/.DS_Store
shared/.DS_Store
core/rpc/html/templates/.DS_Store
core/rpc/html/protocols/knx/.DS_Store
core/rpc/html/protocols/ipx800/.DS_Store
core/rpc/html/js/.DS_Store
core/rpc/html/dashboard/.DS_Store
core/rpc/html/dashboard/all/.DS_Store
core/rpc/html/configuration/.DS_Store
core/rpc/html/protocols/.DS_Store
debian/.DS_Store
core/rpc/html/js/libs/.DS_Store
devices/.DS_Store

*.save
