+.idea/dictionaries/joakim.xml
+.idea/encodings.xml
+.idea/lifx.iml
+.idea/marjo
+.idea/misc.xml
+.idea/modules.xml
+.idea/vcs.xml
+.idea/workspace.xml
+agoclient/__init__.py
+agoclient/_directories.py
+agoclient/_logging.py
+agoclient/agoapp.py
+agoclient/agoconnection.py
+agoclient/config.py
+lifx/__init__.py
+lifx/lifx/client.py
+lifx/color.py
+lifx/device.py
+lifx/group.py
+lifx/network.py
+lifx/protocol.py
+lifx/util.py