<div class="four columns grid-item device"  data-bind="attr: {'data-uuid': uuid}">
    <div class="row">
        <div class="three columns">
            <div class="pretty large primary btn grid-item-icon handle">
                <i class="icon-cloud" data-bind="click: function(data, event) { showDetails(data) }"></i>
            </div>
        </div>
        <div class="nine columns">
            <div class="grid-item-header">
                <ko opts="if: name ">
                    <h3 data-bind="text: name"></h3>
                </ko>
                <ko opts="ifnot: name ">
                    <h3 data-bind="text: devicetype"></h3>
                </ko>
                <ko opts="if: room ">
                    <p class="room"><i class="icon-location"></i><span data-bind="text: room"></span></p>
                </ko>
            </div>
        </div>
    </div>
    <div class="row grid-item-controls">
        <div class="twelve columns">
            <ul data-bind="foreach: valueList">
            <li class="dashboard-line">
                <ko opts="ifnot: name=='Forecast'">
                    <div class="five columns dashboard-line-quantity">
                        <span data-bind="text: name"></span>
                    </div>
                    <div class="five columns dashboard-line-level">
                        <span data-bind="text: levelUnit"></span>
                    </div>
                    <div class="two columns">
                        <div class="small pretty primary btn">
                            <a href="#" data-bind="click: function(data, event) { showDetails($parent, data.name) }"><i class="icon-chart-area"/></a>
                        </div>
                    </div>
                </ko>
                <ko opts="if: name=='Forecast'">
                    <div class="five columns dashboard-line-quantity">
                        <span data-bind="text: name"></span>
                    </div>
                    <div class="five columns dashboard-line-level">
                        <span data-bind="text: level"></span>
                    </div>
                    <div class="two columns dashboard-line-xtra">
                        <ko opts="if: level=='stable'">
                            <img src="img/forecast/stable.png"/>
                        </ko>
                        <ko opts="if: level=='sunny'">
                            <img src="img/forecast/sunny.png"/>
                        </ko>
                        <ko opts="if: level=='cloudy'">
                            <img src="img/forecast/cloudy.png"/>
                        </ko>
                        <ko opts="if: level=='unstable'">
                            <img src="img/forecast/unstable.png"/>
                        </ko>
                        <ko opts="if: level=='thunderstorm'">
                            <img src="img/forecast/thunderstorm.png"/>
                        </ko>
                        <ko opts="if: level=='unknown'">
                            <img src="img/forecast/unknown.png"/>
                        </ko>
                    </div>
                </ko>
            </li>
            </ul>
        </div>
    </div>
</div>
