<div data-bind="attr: {'data-uuid': uuid}" class="col-md-3 col-sm-6 col-xs-12 dashboard-widget">

    <div class="info-box no-margin-bottom" data-bind="css:staleStyle">
        <span class="info-box-icon" data-bind="click: function(data, event) { agocontrol.showDetails(data) }">
            <i class="fa en-retweet"></i>
        </span>
        <div class="info-box-content">
            <div class="info-box-title">
                <ko opts="if:name">
                <h3 data-bind="text:name"/>
                </ko>
                <ko opts="ifnot:name">
                <h3 data-bind="text:devicetype"/>
                </ko>
            </div>
            <div class="info-box-detail">
                <ko opts="if:room">
                <div class="info-box-location">
                    <i class="en-location"/>
                    <span data-bind="text:room"/>
                </div>
                </ko>
            </div>
        </div>
    </div>

    <div class="info-box">
        <div class="info-box-content no-margin-left">
            <div class="well">
                <div class="row">
                    <div class="col-xs-6 col-md-6 text-center">
                        <h4>Current value</h4>
                    </div>
                    <div class="col-xs-6 col-md-6 text-center">
                        <h4><strong data-bind="text:state"></strong></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
