<div class="widget-lg">

    <div class="info-box" data-bind="css:staleStyle">
        <span class="info-box-icon" data-bind="click: function(data, event) { agocontrol.showDetails(data) }">
            <i class="fa en-adjust"></i>
        </span>
        <div class="info-box-content">
            <div class="info-box-title">
                <ko opts="if:name">
                <span data-bind="text:name"/>
                </ko>
                <ko opts="ifnot:name">
                <span data-bind="text:devicetype"/>
                </ko>
            </div>
            <div class="info-box-detail">
                <div class="info-box-state">
                    <i class="en-info-circled"/>
                    <ko opts="ifnot:state">
                    <_span data-translateable="true">OFF</_span>
                    </ko>
                    <ko opts="if:state">
                    <_span data-translateable="true">ON</_span>
                    </ko>
                </div>
                <ko opts="if:room">
                <div class="info-box-location">
                    <i class="en-location"/>
                    <span data-bind="text:room"/>
                </div>
                </ko>
            </div>
        </div>
    </div>

    <div class="info-box">
        <div class="info-box-content no-margin-left" style="padding-top:2px; padding-bottom:2px;">
            <div class="well no-padding">
                <div class="row" style="margin:5px;">
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <ko opts="if:state">
                            <_button type="button" data-translateable="true" data-bind="click: turnOn" class="btn btn-default">ON</_button>
                            </ko>
                            <ko opts="ifnot:state">
                            <_button type="button" data-translateable="true" data-bind="click: turnOn" class="btn btn-primary">ON</_button>
                            </ko>
                        </div>
                        <div class="btn-group">
                            <ko opts="if: state">
                            <_button type="button" data-translateable="true" data-bind="click: turnOff" class="btn btn-primary">OFF</_button>
                            </ko>
                            <ko opts="ifnot: state">
                            <_button type="button" data-translateable="true" data-bind="click: turnOff" class="btn btn-default">OFF</_button>
                            </ko>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:5px;">
                    <div class="col-xs-12 col-md-12">
                        <input data-bind="sliderValue:{value:level, min:0, max:100, step:1, ticks:[0,25,50,75,100], ticks_snap_bounds:5, orientation:'horizontal', id:'slider-'+$data.uuid, device:$data}" type="text" class="slider form-control"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>                   
