<div class="four columns device" data-bind="attr: {'data-uuid': uuid}">

    <div class="row dashboard-widget-header">
        <ul class="two_up tiles" >
            <li class="dashboard-widget-header-icon">
                <ko opts="if: stale">
                    <div class="pretty large danger btn handle">
                        <i data-bind="click: function(data, event) { showDetails(data) }" class="icon-adjust"></i>
                    </div>
                </ko>
                <ko opts="ifnot: stale">
                    <div class="pretty large primary btn handle">
                        <i data-bind="click: function(data, event) { showDetails(data) }" class="icon-adjust"></i>
                    </div>
                </ko>
            </li>
            <li class="dashboard-widget-header-infos">
                <div class="row">
                <ko opts="if: name ">
                    <div class="twelve columns"><h3 data-bind="text: name"/></div>
                </ko>
                <ko opts="ifnot: name ">
                    <div class="twelve columns"><h3 data-bind="text: devicetype"/></div>
                </ko>
                <ko opts="if: room ">
                    <div class="twelve columns dashboard-widget-header-info">
                        <i class="icon-location"/>
                        <span data-bind="text: room"/>
                    </div>
                </ko>
                </div>
            </li>
        </ul>
    </div>

    <div class="row dashboard-widget-content dashboard-widget-content-buttons">
        <ul class="two_up tiles" style="margin-bottom:0px;">
            <li class="dashboard-widget-content-button">
            <ko opts="if: state ">
                <div class="pretty default btn btn-full" data-bind="click: turnOn" data-value="on">ON</div>
                </ko>
                <ko opts="ifnot: state">
                <div class="pretty primary btn btn-full" data-bind="click: turnOn" data-value="on">ON</div>
                </ko>
            </li>
            <li class="dashboard-widget-content-button">
                <ko opts="if: state">
                    <div class="pretty primary btn btn-full" data-bind="click: turnOff" data-value="off">OFF</div>
                </ko>
                <ko opts="ifnot: state">
                    <div class="pretty default btn btn-full" data-bind="click: turnOff" data-value="off">OFF</div>
                </ko> 
            </li>
        </ul>
        <ul class="two_up tiles">
            <li class="dashboard-widget-content-button">
                <div class="pretty primary btn btn-full" data-bind="attr { 'id':'color-'+uuid, 'uuid':uuid }, click:openPicker">SETCOLOR</div>
            </li>
            <li class="dashboard-widget-content-button" style="padding-top:6px;">
                <div class="slider" data-bind="slider: level, sliderOptions: {min: 0, max: 100, range: 'min', step: 1, dev: $data}" ></div>
            </li>
        </ul>
    </div>

</div>

