<div class="col-sm-3">
<div data-bind="attr: {'data-uuid': uuid}" class="thumbnail dashboard-widget">

    <div class="well well-sm">
        <div class="row">
            <div class="col-sm-3 text-center">
                <ko opts="if: stale">
                    <button type="button" class="btn btn-danger btn-xl" data-bind="click: function(data, event){agocontrol.showDetails(data)}" style="padding:0px !important;">
                        <span style="font-size:200%;" class="en-adjust"></span>
                    </button>
                </ko>
                <ko opts="ifnot: stale">
                    <button type="button" class="btn btn-primary btn-xl" data-bind="click: function(data, event){agocontrol.showDetails(data)}" style="padding:0px !important;">
                        <span style="font-size:200%;" class="en-adjust"></span>
                    </button>
                </ko>
            </div>
            <div class="col-sm-9 text-left">
                <div class="row">
                    <!-- device name -->
                    <ko opts="if: name ">
                        <div class="col-sm-12">
                            <h3 style="margin:0px !important;" data-bind="text: name"></h3>
                        </div>
                    </ko>
                    <ko opts="ifnot: name ">
                        <div class="col-sm-12">
                            <h3 style="margin:0px !important;" data-bind="text: devicetype"></h3>
                        </div>
                    </ko>
                    <!-- device room -->
                    <ko opts="if: room ">
                        <div class="col-sm-12">
                            <span class="en-location"></span>
                            <span data-bind="text: room"></span>
                        </div>
                    </ko>
                    <!-- device state -->
                    <div class="col-sm-12">
                        <span class="en-info"></span>
                        <ko opts="ifnot: state">
                        <_span data-translateable="true">OFF</_span>
                        </ko>
                        <ko opts="if: state">
                        <_span data-translateable="true">ON</_span>
                        </ko>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <ko opts="if: state">
                <_button type="button" class="btn btn-default" data-translateable="true" data-bind="click: turnOn">ON</_button>
            </ko>
            <ko opts="ifnot: state">
                <_button type="button" class="btn btn-primary" data-translateable="true" data-bind="click: turnOn">ON</_button>
            </ko>
        </div>
        <div class="btn-group">
            <ko opts="if: state">
                <_button type="button" class="btn btn-primary" data-translateable="true" data-bind="click: turnOff">OFF</_button>
            </ko>
            <ko opts="ifnot: state">
                <_button type="button" class="btn btn-default" data-translateable="true" data-bind="click: turnOff">OFF</_button>
            </ko>
        </div>
        <div class="btn-group">
            <_button type="button" class="btn btn-primary" data-translateable="true" data-bind="attr { 'id':'color-'+uuid, 'uuid':uuid }, click:openColorPicker">COLOR</_button>
        </div>
    </div>
    <div class="row">
        <div class="slider col-sm-12" data-bind="slider: level, sliderOptions: {min: 0, max: 100, range: 'min', step: 1, dev: $data}"></div>
    </div>

</div>
</div>
