<div class="col-sm-3">
<div data-bind="attr: {'data-uuid': uuid}" class="thumbnail dashboard-widget">

    <div class="well well-sm">
        <div class="row">
            <div class="col-sm-3 text-center">
                <ko opts="if: stale">
                    <button type="button" class="btn btn-danger btn-xl" data-bind="click: function(data, event){agocontrol.showDetails(data)}" style="padding:0px !important;">
                        <span style="font-size:200%;" class="en-arrow-combo"></span>
                    </button>
                </ko>
                <ko opts="ifnot: stale">
                    <button type="button" class="btn btn-primary btn-xl" data-bind="click: function(data, event){agocontrol.showDetails(data)}" style="padding:0px !important;">
                        <span style="font-size:200%;" class="en-arrow-combo"></span>
                    </button>
                </ko>
            </div>
            <div class="col-sm-9 text-left">
                <div class="row">
                    <!-- device name -->
                    <ko opts="if: name ">
                        <div class="col-sm-12">
                            <h3 style="margin:0px !important;" data-bind="text: name"></h3>
                        </div>
                    </ko>
                    <ko opts="ifnot: name ">
                        <div class="col-sm-12">
                            <h3 style="margin:0px !important;" data-bind="text: devicetype"></h3>
                        </div>
                    </ko>
                    <!-- device room -->
                    <ko opts="if: room ">
                        <div class="col-sm-12">
                            <span class="en-location"></span>
                            <span data-bind="text: room"></span>
                        </div>
                    </ko>
                    <!-- device state -->
                    <div class="col-sm-12">
                        <span class="en-info"></span>
                        <ko opts="if: state()==0">
                        <_span data-translateable="true">CLOSED</_span>
                        </ko>
                        <ko opts="if: (state()!=0 and state()!=50 and state()!=100 and state()!=150)">
                        <_span data-translateable="true">OPENED</_span>
                        </ko>
                        <ko opts="if: state()==50">
                        <_span data-translateable="true">OPENING</_span>
                        </ko>
                        <ko opts="if: state()==100">
                        <_span data-translateable="true">CLOSING</_span>
                        </ko>
                        <ko opts="if: state()==150">
                        <_span data-translateable="true">PARTIAL</_span>
                        </ko>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <ko opts="if: state">
                <_button type="button" class="btn btn-default" data-translateable="true" data-bind="click: turnOn">OPEN</_button>
            </ko>
            <ko opts="ifnot: state">
                <_button type="button" class="btn btn-primary" data-translateable="true" data-bind="click: turnOn">OPEN</_button>
            </ko>
        </div>
        <div class="btn-group">
            <_button type="button" class="btn btn-primary" data-translateable="true" data-bind="click: turnStop">STOP</_button>
        </div>
        <div class="btn-group">
            <ko opts="if: state">
                <_button type="button" class="btn btn-primary" data-translateable="true" data-bind="click: turnOff">CLOSE</_button>
            </ko>
            <ko opts="ifnot: state">
                <_button type="button" class="btn btn-default" data-translateable="true" data-bind="click: turnOff">CLOSE</_button>
            </ko>
        </div>
    </div>

</div>
</div>
