<div class="widget-lg">

    <div class="info-box" data-bind="css:staleStyle">
        <span class="info-box-icon" data-bind="click: function(data, event) { agocontrol.showDetails(data) }">
            <i class="fa en-arrow-combo"></i>
        </span>
        <div class="info-box-content">
            <div class="info-box-title">
                <ko opts="if:name">
                <span data-bind="text:name, attr:{title:name, alt:name}"/>
                </ko>
                <ko opts="ifnot:name">
                <span data-bind="text:devicetype"/>
                </ko>
            </div>
            <div class="info-box-detail">
                <div class="info-box-state">
                    <i class="en-info-circled"/>
                    <ko opts="if: state()==0">
                    <_span data-translateable="true">closed</_span>
                    </ko>
                    <ko opts="if: state()==150">
                    <_span data-translateable="true">partial</_span>
                    </ko>
                    <ko opts="if: state()==255">
                    <_span data-translateable="true">opened</_span>
                    </ko>
                    <ko opts="if: state()==50">
                    <_span data-translateable="true">opening</_span>
                    </ko>
                    <ko opts="if: state()==100">
                    <_span data-translateable="true">closing</_span>
                    </ko>
                </div>
                <ko opts="if:room">
                <div class="info-box-location">
                    <i class="en-location"/>
                    <span data-bind="text:room"/>
                </div>
                </ko>
            </div>
        </div>
    </div>

    <div class="info-box">
        <div class="info-box-content no-margin-left">
            <div class="well">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <ko opts="if: state()==255">
                        <_button type="button" data-translateable="true" data-bind="click: turnOn" class="btn btn-default">OPEN</_button>
                        </ko>
                        <ko opts="if: state()!=255">
                        <_button type="button" data-translateable="true" data-bind="click: turnOn" class="btn btn-primary">OPEN</_button>
                        </ko>
                    </div>
                    <div class="btn-group">
                        <_button type="button" data-translateable="true" data-bind="click: turnStop" class="btn btn-primary">STOP</_button>
                    </div>
                    <div class="btn-group">
                        <ko opts="if: state()==0">
                        <_button type="button" data-translateable="true" data-bind="click: turnOff" class="btn btn-default">CLOSE</_button>
                        </ko>
                        <ko opts="if: state()!=0">
                        <_button type="button" data-translateable="true" data-bind="click: turnOff" class="btn btn-primary">CLOSE</_button>
                        </ko>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
