<div data-bind="attr: {'data-uuid': uuid}" class="four columns grid-item device">
    <div class="row">
        <div class="three columns">
            <div class="pretty large primary btn grid-item-icon handle">
                <i data-bind="click: function(data, event) { showDetails(data) }" class="icon-globe"/>
            </div>
        </div>
        <div class="nine columns">
            <div class="grid-item-header">
                <ko opts="if: name ">
                    <h3 data-bind="text: name"/>
                </ko>
                <ko opts="ifnot: name ">
                    <h3 data-bind="text: devicetype"/>
                </ko>
                <ko opts="if: room ">
                    <p class="room"><i class="icon-location"/><span data-bind="text: room"/></p>
                </ko>
            </div>
        </div>
    </div>
    <div class="row grid-item-controls">
        <div class="twelve columns">
            <ul data-bind="foreach: valueList">
            <li class="dashboard-line">
                <div class="four columns dashboard-line-quantity">
                    <span data-bind="text: name"></span>
                </div>
                <div class="three columns dashboard-line-level">
                    <span data-bind="text: latitude"></span>
                </div>
                <div class="three columns dashboard-line-level">
                    <span data-bind="text: longitude"></span>
                </div>
                <div class="two columns">
                    <div class="small pretty primary btn">
                        <a href="#" data-bind="click: function(data, event) { showDetails($parent, data.name) }"><i class="icon-chart-area"/></a>
                    </div>
                </div>
            </li>
            </ul>
        </div>
    </div>
</div>

