<div class="col-sm-3">
<div data-bind="attr: {'data-uuid': uuid}" class="thumbnail dashboard-widget">

    <div class="well well-sm">
        <div class="row">
            <div class="col-sm-3 text-center">
                <ko opts="if: stale">
                    <button type="button" class="btn btn-danger btn-xl" data-bind="click: function(data, event){agocontrol.showDetails(data)}" style="padding:0px !important;">
                        <span style="font-size:200%;" class="en-globe"></span>
                    </button>
                </ko>
                <ko opts="ifnot: stale">
                    <button type="button" class="btn btn-primary btn-xl" data-bind="click: function(data, event){agocontrol.showDetails(data)}" style="padding:0px !important;">
                        <span style="font-size:200%;" class="en-globe"></span>
                    </button>
                </ko>
            </div>
            <div class="col-sm-9 text-left">
                <div class="row">
                    <!-- device name -->
                    <ko opts="if: name ">
                        <div class="col-sm-12">
                            <h3 style="margin:0px !important;" data-bind="text: name"></h3>
                        </div>
                    </ko>
                    <ko opts="ifnot: name ">
                        <div class="col-sm-12">
                            <h3 style="margin:0px !important;" data-bind="text: devicetype"></h3>
                        </div>
                    </ko>
                    <!-- device room -->
                    <ko opts="if: room ">
                        <div class="col-sm-12">
                            <span class="en-location"></span>
                            <span data-bind="text: room"></span>
                        </div>
                    </ko>
                    <!-- device state -->
                    <div class="col-sm-12">
                        <span class="en-info"></span>
                        <span data-bind="text: state"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="well well-sm">
        <div class="row">
            <div class="col-sm-4 text-center">
                <span data-bind="text: name"/>
            </div>
            <div class="col-sm-4 text-center">
                <strong data-bind="text: latitude"/>
            </div>
            <div class="col-sm-4 text-center">
                <strong data-bind="text: longitude"/>
            </div>
        </div>
    </div>

</div>
</div>
