<div class="widget-lg">

    <div class="widget-box" data-bind="css:staleStyle, click:function(data, event) { agocontrol.showDetails(data); }">
        <div class="inner">
            <span data-bind="text:name, attr:{title:name, alt:name}"></span>
            <div>
                <ko opts="if:room">
                <div class="widget-box-location">
                    <i class="en-location"></i>
                    <span data-bind="text:room"/>
                </div>
                </ko>
            </div>
        </div>
        <div class="icon">
            <i class="fa en-globe"></i>
        </div>
    </div>

    <div class="info-box">
        <div class="info-box-content no-margin-left">
            <div class="well">
                <ko opts="foreach: valueList">
                <div class="row">
                    <div class="col-xs-4 col-md-4 text-center">
                        <h4 class="nowrap" data-bind="text:name"></h4>
                    </div>
                    <div class="col-xs-4 col-md-4 text-center">
                        <h4><strong class="nowrap" data-bind="text:latitude"></strong></h4>
                    </div>
                    <div class="col-xs-4 col-md-4 text-center">
                        <h4><strong class="nowrap" data-bind="text:longitude"></strong></h4>
                    </div>
                </div>
                </ko>
            </div>
        </div>
    </div>

</div>
