<div class="four columns dashboard-widget" data-bind="attr: {'data-uuid': uuid}">

    <div class="row dashboard-widget-header">
        <ul class="two_up tiles" >
            <li class="dashboard-widget-header-icon">
                <ko opts="if: stale">
                    <div class="pretty large danger btn handle">
                        <i data-bind="click: function(data, event) { showDetails(data) }" class="icon-progress-3"></i>
                    </div>
                </ko>
                <ko opts="ifnot: stale">
                    <div class="pretty large primary btn handle">
                        <i data-bind="click: function(data, event) { showDetails(data) }" class="icon-progress-3"></i>
                    </div>
                </ko>
            </li>
            <li class="dashboard-widget-header-infos">
                <div class="row">
                <ko opts="if: name ">
                    <div class="twelve columns"><h3 data-bind="text: name"/></div>
                </ko>
                <ko opts="ifnot: name ">
                    <div class="twelve columns"><h3 data-bind="text: devicetype"/></div>
                </ko>
                <ko opts="if: room ">
                    <div class="twelve columns dashboard-widget-header-info">
                        <i class="icon-location"/>
                        <span data-bind="text: room"/>
                    </div>
                </ko>
                </div>
            </li>
        </ul>
    </div>

    <div class="row dashboard-widget-content dashboard-widget-content-buttons">
        <ul class="two_up tiles">
            <li class="dashboard-widget-content-button">
                <_div data-translateable="true" data-bind="click: allOn" class="pretty medium primary btn btn-full">OPEN ALL</_div>
            </li>
            <li class="dashboard-widget-content-button">
                <_div data-translateable="true" data-bind="click: allOff" class="pretty medium primary btn btn-full">CLOSE ALL</_div>
            </li>
        </ul>
    </div>

</div>

