<div class="col-sm-3 dashboard-widget" data-bind="attr: {'data-uuid': uuid}">

    <div class="small-box" data-bind="css:staleStyle">
        <div class="inner" data-bind="click: function(data, event) { agocontrol.showDetails(data) }">
            <ko opts="if: name">
            <h3 data-bind="text: name"></h3>
            </ko>
            <ko opts="ifnot: name ">
            <h3 data-bind="text: devicetype"></h3>
            </ko>
            <ko opts="if: room ">
            <p>
            <i class="en-location"></i>
            <span data-bind="text: room"></span>
            </p>
            </ko>
        </div>
        <div class="icon">
            <i class="en-progress-3"></i>
        </div>
        <div class="small-box-footer">
            <ko opts="foreach: valueList">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <span data-bind="text: name"/>
                    </div>
                    <div class="col-sm-6 text-center">
                        <strong data-bind="text: levelUnit"/>
                    </div>
                </div>
            </div>
            </ko>
        </div>
    </div>

</div>
