<div class="widget-lg">

    <div class="widget-box" data-bind="css:staleStyle, click:function(data, event) { agocontrol.showDetails(data); }">
        <div class="inner">
            <span data-bind="text:name, attr:{title:name, alt:name}"></span>
            <div>
                <div class="widget-box-state">
                    <i class="en-info-circled"></i>
                    <span data-bind="text:state"/>
                </div>
                <ko opts="if:room">
                <div class="widget-box-location">
                    <i class="en-location"></i>
                    <span data-bind="text:room"/>
                </div>
                </ko>
            </div>
        </div>
        <div class="icon">
            <i class="fa en-phone"></i>
        </div>
    </div>

    <div class="info-box">
        <div class="info-box-content no-margin-left">
        </div>
    </div>

</div>
