<div class="widget-lg">

    <div class="info-box" data-bind="css:staleStyle">
        <span class="info-box-icon" data-bind="click: function(data, event) { agocontrol.showDetails(data) }">
            <i class="fa en-mail"></i>
        </span>
        <div class="info-box-content">
            <div class="info-box-title">
                <ko opts="if:name">
                <span data-bind="text:name, attr:{title:name, alt:name}"/>
                </ko>
                <ko opts="ifnot:name">
                <span data-bind="text:devicetype"/>
                </ko>
            </div>
            <div class="info-box-detail">
                <ko opts="if:room">
                <div class="info-box-location">
                    <i class="en-location"/>
                    <span data-bind="text:room"/>
                </div>
                </ko>
            </div>
        </div>
    </div>

    <div class="info-box">
        <div class="info-box-content no-margin-left">
        </div>
    </div>

</div>
