<div class="col-sm-3 dashboard-widget" data-bind="attr: {'data-uuid': uuid}">

    <div class="small-box" data-bind="css:staleStyle">
        <div class="inner" data-bind="click: function(data, event) { agocontrol.showDetails(data) }">
            <ko opts="if: name">
            <h3 data-bind="text: name"></h3>
            </ko>
            <ko opts="ifnot: name ">
            <h3 data-bind="text: devicetype"></h3>
            </ko>
            <ko opts="if: room ">
            <p>
            <i class="en-location"></i>
            <span data-bind="text: room"></span>
            </p>
            </ko>
        </div>
        <div class="icon">
            <i class="en-switch"></i>
        </div>
        <div class="small-box-footer">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <ko opts="if: state">
                    <_button type="button" class="btn btn-default" data-translateable="true" data-bind="click: turnOn">ON</_button>
                    </ko>
                    <ko opts="ifnot: state">
                    <_button type="button" class="btn btn-info" data-translateable="true" data-bind="click: turnOn">ON</_button>
                    </ko>
                </div>
                <div class="btn-group">
                    <ko opts="if: state">
                    <_button type="button" class="btn btn-info" data-translateable="true" data-bind="click: turnOff">OFF</_button>
                    </ko>
                    <ko opts="ifnot: state">
                    <_button type="button" class="btn btn-default" data-translateable="true" data-bind="click: turnOff">OFF</_button>
                    </ko>
                </div>
            </div>
        </div>
    </div>

</div>
