<div class="widget-lg">

    <div class="info-box" data-bind="css:staleStyle">
        <span class="info-box-icon" data-bind="click: function(data, event) { agocontrol.showDetails(data) }">
            <i class="fa en-gauge"></i>
        </span>
        <div class="info-box-content">
            <div class="info-box-title">
                <ko opts="if:name">
                <span data-bind="text:name"/>
                </ko>
                <ko opts="ifnot:name">
                <span data-bind="text:devicetype"/>
                </ko>
            </div>
            <div class="info-box-detail">
                <div class="info-box-state" data-bind="foreach:valueList">
                    <ko opts="if: name=='Mode'">
                    <i class="en-volume"/>
                    <_span data-translateable="true">Mode</_span>:<span data-bind="text:level"></span>
                    </ko>
                    <ko opts="if:name=='Operatingstate'">
                    (<span data-bind="text:level"/>)
                    </ko>
                </div>
                <div class="info-box-state" data-bind="foreach:valueList">
                    <ko opts="if:name=='Fanmode'">
                    <i class="en-shuffle"/>
                    <_span data-translateable="true">FanMode</_span>:<span data-bind="text:level"></span>
                    </ko>
                    <ko opts="if:name=='Fanstate'">
                    (<span data-bind="text:level"/>)
                    </ko>
                </div>
                <ko opts="if:room">
                <div class="info-box-location">
                    <i class="en-location"/>
                    <span data-bind="text:room"/>
                </div>
                </ko>
            </div>
        </div>
    </div>

    <div class="info-box">
        <div class="info-box-content no-margin-left">
            <div class="well no-padding">
                <div class="row" style="margin:2px;">
                    <div class="col-xs-4 col-md-4 text-center" style="background-color:#CA3838; color:#FFFFFF;">
                        <_span data-translateable="true">Heat</_span>
                    </div>
                    <div class="col-xs-4 col-md-4">
                    </div>
                    <div class="col-xs-4 col-md-4 text-center" style="background-color:#3085D6; color:#FFFFFF;">
                        <_span data-translateable="true">Cool</_span>
                    </div>
                </div>
                <div class="row" style="margin:2px;">
                    <div class="col-xs-4 col-md-4 text-center" data-bind="foreach:valueList">
                        <ko opts="if: name=='Heatsetpoint'">
                        <h5 style="margin:2px !important;" data-bind="text:levelUnit"/>
                        </ko>
                    </div>
                    <div class="col-xs-4 col-md-4 text-center" data-bind="foreach:valueList">
                        <ko opts="if: name == 'Temperature'">
                        <h4 style="margin:2px !important;"><strong data-bind="text:levelUnit"/></h4>
                        </ko>
                    </div>
                    <div class="col-xs-4 col-md-4 text-center" data-bind="foreach:valueList">
                        <ko opts="if: name == 'Coolsetpoint'">
                        <h5 style="margin:2px !important;" data-bind="text:levelUnit"/>
                        </ko>
                    </div>
                </div>
                <div class="row" style="margin:2px;">
                    <div class="col-xs-4 col-md-4 text-center">
                        <div class="btn-group btn-group-xs">
                            <button type="button" data-bind="click: function(data, event) { customCommand({command:'settemperature', mode:'heat', temperature:'+1'} ) }" class="btn btn-primary"><i class="en-plus"/></button>
                            <button type="button" data-bind="click: function(data, event) { customCommand({command:'settemperature', mode:'heat', temperature:'-1'} ) }" class="btn btn-primary"><i class="en-minus"/></button>
                        </div>
                    </div>
                    <div class="col-xs-4 col-md-4">
                    </div>
                    <div class="col-xs-4 col-md-4 text-center">
                        <div class="btn-group btn-group-xs">
                            <button type="button" data-bind="click: function(data, event) { customCommand({command:'settemperature', mode:'cool', temperature:'+1'} ) }" class="btn btn-primary"><i class="en-plus"/></button>
                            <button type="button" data-bind="click: function(data, event) { customCommand({command:'settemperature', mode:'cool', temperature:'-1'} ) }" class="btn btn-primary"><i class="en-minus"/></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

