<div class="three columns dashboard-widget" data-bind="attr: {'data-uuid': uuid}">

    <div class="row dashboard-widget-header">
        <ul class="two_up tiles">
            <li class="dashboard-widget-header-icon">
                <ko opts="if: stale">
                    <div class="pretty large danger btn">
                        <i data-bind="click: function(data, event) { agocontrol.showDetails(data) }" class="icon-gauge"></i>
                    </div>
                </ko>
                <ko opts="ifnot: stale">
                    <div class="pretty large primary btn">
                        <i data-bind="click: function(data, event) { agocontrol.showDetails(data) }" class="icon-gauge"></i>
                    </div>
                </ko>
            </li>
            <li class="dashboard-widget-header-infos">
                <div class="row">
                <ko opts="if: name ">
                    <div class="twelve columns"><h3 data-bind="text: name"/></div>
                </ko>
                <ko opts="ifnot: name ">
                    <div class="twelve columns"><h3 data-bind="text: devicetype"/></div>
                </ko>
                    <div data-bind="foreach: valueList" class="twelve columns dashboard-widget-header-info">
                        <ko opts="if: name == 'Mode'">
                        <_span data-translateable="true">Mode</_span>:<span data-bind="text: level"></span>
                        </ko>
                        <ko opts="if: name == 'Operatingstate'">
                        <span>- </span><span data-bind="text: level"/>
                        </ko>
                    </div>
                    <div data-bind="foreach: valueList" class="twelve columns dashboard-widget-header-info">
                         <ko opts="if: name == 'Fanmode'">
                         <_span data-translateable="true">FanMode</_span>:<span data-bind="text: level"></span>
                         </ko>
                         <ko opts="if: name == 'Fanstate'">
                         <span>- </span><span data-bind="text: level"/>
                         </ko>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="row dashboard-widget-content dashboard-widget-content-buttons">
        <ul class="three_up tiles" style="height:22px; margin-bottom:0px; margin-right:5px;">
            <li style="background-color:#CA3838; color:#FFFFFF;" class="dashboard-widget-content-unit">
                <span>Heat</span>
            </li>
            <li style="height:22px;">
            </li>
            <li style="background-color:#3085D6; color:#FFFFFF;" class="dashboard-widget-content-unit">
                <span>Cool</span>
            </li>
        </ul>
        <ul class="three_up tiles" style="height:22px; margin-bottom:0px; margin-right:5px;">
            <li style="background-color:#FFFFFF;" data-bind="foreach: valueList" class="dashboard-widget-content-unit">
                <ko opts="if: name == 'Heatsetpoint'">
                    <span data-bind="text: levelUnit"/>
                </ko>
            </li>
            <li style="background-color:transparent;" data-bind="foreach: valueList" class="dashboard-widget-content-unit">
                <ko opts="if: name == 'Temperature'">
                    <span style="font-size:22px;" data-bind="text: levelUnit"/>
                </ko>
            </li>
            <li style="background-color:#FFFFFF;" data-bind="foreach: valueList" class="dashboard-widget-content-unit">
                <ko opts="if: name == 'Coolsetpoint'">
                    <span data-bind="text: levelUnit"/>
                </ko>
            </li>
        </ul>
        <ul class="three_up tiles" style="height:22px; margin-bottom:0px; margin-right:5px;">
            <li style="background-color:#FFFFFF;" class="dashboard-widget-content-button">
                <button style="height:18px; width:25px;" data-bind="click: function(data, event) { customCommand({command:'settemperature', mode:'heat', temperature:'+1'} ) }">+</button>
                <button style="height:18px; width:25px;" data-bind="click: function(data, event) { customCommand({command:'settemperature', mode:'heat', temperature:'-1'} ) }">-</button>
            </li>
            <li style="height:22px;">
            </li>
            <li style="background-color:#FFFFFF;" class="dashboard-widget-content-button">
                <button style="height:18px; width:25px;" data-bind="click: function(data, event) { customCommand({command:'settemperature', mode:'cool', temperature:'+1'} ) }">+</button>
                <button style="height:18px; width:25px;" data-bind="click: function(data, event) { customCommand({command:'settemperature', mode:'cool', temperature:'-1'} ) }">-</button>
            </li>
        </ul>
    </div>

</div>
