[Unit]
Description=ago control gammu SMS gateway

[Service]
ExecStart=/opt/agocontrol/bin/agogammu.py
WorkingDirectory=/opt/agocontrol/bin
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=2
User=agocontrol

[Install]
WantedBy=multi-user.target
