[Unit]
Description=ago control Squeezebox devices

[Service]
ExecStart=@BINDIR@/agosqueezebox.py
WorkingDirectory=@BINDIR@
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=2
User=agocontrol

[Install]
WantedBy=multi-user.target
