[Unit]
Description=ago control Weather Reporter service

[Service]
ExecStart=@BINDIR@/agoweatherreporter.py
WorkingDirectory=@BINDIR@
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=2
User=agocontrol

[Install]
WantedBy=multi-user.target
