templates/details/default.html
templates/details/batterysensor.html
templates/details/powermeter.html
templates/details/camera.html
templates/details/datalist.html
templates/details/multigraph.html
templates/details/temperaturesensor.html
templates/details/gpssensor.html
templates/details/multilevelsensor.html
templates/details/brightnesssensor.html
templates/details/barometersensor.html
templates/details/humiditysensor.html
templates/details/distancesensor.html
templates/details/energymeter.html
templates/floorplan.html
templates/devices/gpssensor.html
templates/devices/batterysensor.html
templates/devices/thermostat.html
templates/devices/multigraph.html
templates/devices/binarysensor.html
templates/devices/barometersensor.html
templates/devices/placeholder.html
templates/devices/dimmerrgb.html
templates/devices/distancesensor.html
templates/devices/humiditysensor.html
templates/devices/multilevelsensor.html
templates/devices/brightnesssensor.html
templates/devices/phone.html
templates/devices/powermeter.html
templates/devices/energysensor.html
templates/devices/pushbutton.html
templates/devices/empty.html
templates/devices/ipx800v3board.html
templates/devices/energymeter.html
templates/devices/switch.html
templates/devices/dimmer.html
templates/devices/computer.html
templates/devices/temperaturesensor.html
templates/devices/scenario.html
templates/devices/drapes.html
templates/devices/squeezebox.html
templates/systemStatus.html
templates/configuration.html
templates/dashboard.html
templates/inventory.html
templates/configuration/plugins.html
templates/configuration/devices.html
templates/configuration/events.html
templates/configuration/rooms.html
templates/configuration/variables.html
templates/configuration/system.html
templates/configuration/floorplan.html
templates/configuration/scenarios.html
templates/configuration/security.html
templates/configuration/cloud.html
templates/navigation/main.html
templates/navigation/configuration.html
templates/navigation/treenav.html
plugins/agoalert/templates/agoalert.html
plugins/agodrain/templates/navigation/plugins.html
plugins/agoscheduler/templates/agoscheduler.html
plugins/example/templates/example.html
plugins/zwave/templates/zwaveConfig.html
plugins/zwave/templates/zwaveDashboard.html
plugins/agoblockly/templates/agoblockly.html
