/* Bootstrap customization for agocontrol */

/********** D3 device graph style **********/
.axis {
      shape-rendering: crispEdges;
}

.axis path, .axis line {
    fill: none;
    stroke-width: 1px;
}

.x.axis path {
    stroke: #000;
}

.x.axis line {
    stroke: #fff;
    stroke-opacity: .5;
}

.y.axis line {
    stroke: #ddd;
}

.d3-tooltip {
    position: absolute;
    z-index: 9999999;
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    text-align: center;
}

/********** extra large button **********/
.btn-xl {
    padding: 18px 28px;
    font-size: 22px;
    border-radius: 8px;
}

/********** adminLTE menu **********/
.control-sidebar-heading {
    border-bottom: 1px solid #CCCCCC;
}

/********** pin button **********/
.btn-pin {
    width: 100%;
    height: 100%;
    font-size: 24px;
}

/********** body background **********/
body {
    background-color: #C8C8C8;
}

/********** main header items **********/
.navbar-nav>.notifications-menu>.dropdown-menu>.footer,
.navbar-nav>.messages-menu>.dropdown-menu>.footer,
.navbar-nav>.tasks-menu>.dropdown-menu>.footer {
    padding: 2px;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li.footer>button,
.navbar-nav>.messages-menu>.dropdown-menu>li.footer>button,
.navbar-nav>.tasks-menu>.dropdown-menu>li.footer>button {
    width: 100%;
}

/********** notifications **********/
.content-notifs,
.agonotif-box {
    display:none;
}

.agonotif {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #FFFFFF;
    -moz-box-shadow: 0 0 12px #999999;
    -webkit-box-shadow: 0 0 12px #999999;
    box-shadow: 0 0 12px #999999;
}

.agonotif-success {
    background-color: #5CB85C;
}

.agonotif-info {
    background-color: #337AB7;
}

.agonotif-warning {
    background-color: #F0AD4E;
}

.agonotif-error {
    background-color: #D9534F;
}

.agonotif-fatal {
    background-color: #000000;
}


/********** ago stuff **********/
.agocontainer {
    background-color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #A0A0A0;
    border-radius: 5px;
    padding-bottom: 10px;
    min-height: 350px;
}

.agorowbottom {
    margin-bottom: 20px;
}

.agorowtop {
    margin-top: 20px;
}

/********** custom dashboard widget **********/
div.dashboard-widget-draggable {
    cursor:move;
}

.dashboard-widget-active {
    border: 2px solid #3085D6;
}

.dashboard-widget-hover {
    background-color: #3085D6;
}

.border-t-r-l {
    border-top: 2px solid #307197;
    border-right: 2px solid #307197;
    border-left: 2px solid #307197;
}

.border-r-b-l {
    border-right: 2px solid #307197;
    border-bottom: 2px solid #307197;
    border-left: 2px solid #307197;
}

/********** dashboard widget **********/
/* widget with very small header and no detail */
.widget-sm {
}

.widget-sm > .info-box:first-child {
    max-height: 40px !important;
    min-height: 40px !important;
    height: 40px !important;
    margin-bottom: 0px !important;
}

.widget-sm > .info-box:first-child > .info-box-icon {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
    font-size: 25px !important;
}

.widget-sm > .info-box:first-child > .info-box-content {
    padding: 6px 10px;
    margin-left: 40px !important;
}

.widget-sm > .info-box:first-child > .info-box-content > .info-box-title {
    font-size: 20px !important;
    font-weight: 500;
}

.widget-sm > .info-box:first-child > .info-box-content > .info-box-detail {
    display: none;
}

.widget-sm > .info-box:nth-child(2) {
    height: 120px !important;
}

/* widget with small header and no detail */
.widget-md {
}

.widget-md > .info-box:first-child {
    max-height: 60px !important;
    min-height: 60px !important;
    height: 60px !important;
    margin-bottom: 0px !important;
}

.widget-md > .info-box:first-child > .info-box-icon {
    width: 60px !important;
    height: 60px !important;
    line-height: 60px !important;
    font-size: 40px !important;
}

.widget-md > .info-box:first-child > .info-box-content {
    padding: 10px 10px;
    margin-left: 60px !important;
}

.widget-md > .info-box:first-child > .info-box-content > .info-box-title {
    font-size: 25px !important;
    font-weight: 500;
}

.widget-md > .info-box:first-child > .info-box-content > .info-box-detail {
    display: none;
}

.widget-md > .info-box:nth-child(2) {
    height: 100px !important;
}

/* widget with medium header (default) */
.widget-lg {
}

.widget-lg > .info-box:first-child {
    max-height: 80px !important;
    min-height: 80px !important;
    height: 80px !important;
    margin-bottom: 0px !important;
}

.widget-lg > .info-box:first-child > .info-box-icon {
    width: 80px !important;
    height: 80px !important;
    line-height: 80px !important;
    font-size: 50px !important;
}

.widget-lg > .info-box:first-child > .info-box-content {
    padding: 10px 10px;
    margin-left: 80px !important;
}

.widget-lg > .info-box:first-child > .info-box-content > .info-box-title {
    font-size: 25px !important;
    font-weight: 500;
}

.widget-lg > .info-box:first-child > .info-box-content > .info-box-detail {
    display: inline;
}

.widget-lg > .info-box:nth-child(2) {
    max-height: 80px !important;
    min-height: 80px !important;
    height: 80px !important;
}

/* widget with no header or overlaid header */
.widget-overlay, .widget-xs {
    width: 100%;
    height: 160px;
    margin-bottom: 15px;
    background-color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
}

.widget-xs > .info-box {
    display: none;
}

.widget-overlay > .widget-overlay-bg {
    position: relative;
    max-height: 100%;
}

.widget-overlay > .info-box:first-of-type {
    position: absolute;
    top: 0px;
    max-height: 40px !important;
    min-height: 40px !important;
    height: 40px !important;
    width: initial !important;
    margin-bottom: 0px !important;
    opacity: 0.80;
}

.widget-overlay > .info-box:first-of-type > .info-box-icon {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
    font-size: 25px !important;
}

.widget-overlay > .info-box:first-of-type > .info-box-content {
    padding: 6px 10px;
    margin-left: 40px !important;
}

.widget-overlay > .info-box:first-of-type > .info-box-content > .info-box-title {
    font-size: 20px !important;
    font-weight: 500;
}

.widget-overlay > .info-box:first-of-type > .info-box-content > .info-box-detail {
    display: none;
}

.widget-overlay > .info-box:nth-of-type(2) {
    display: none;
}

/********** custom dashboard editor **********/
.dashboard-editor {
    display:none;
    height:160px;
    width:100%;
    background-color:#DFDFDF;
    border-radius:5px;
    margin-bottom:10px;
}

/********** device list **********/
.device-list {
    background-color:#EEEEEE;
    border:1px solid #D8D8D8;
    padding:2px;
    height:135px;
    overflow:scroll;
    overflow-x:hidden;
}

.device-list-active {
    border: 2px solid #307197;
    overflow: hidden;
    background-image: url('../img/icon_trash.png');
    background-repeat: no-repeat;
    background-position: center;
}

.device-list-hover {
    background-color:#3085D6;
}

.device-list-item {
    width:200px;
    height:30px;
    border:1px solid #A0A0A0;
    margin:2px;
    border-radius:5px;
    float:left;
    overflow:hidden;
    text-overflow:clip;
    white-space:nowrap;
    background-color:#FFFFFF;
    padding:4px 0px 0px 4px;
}

.device-list-item-draggable {
    cursor:move;
}

.device-list-item i {
    margin-right:0px;
    color:#3085D6;
}

/********** css helpers **********/
.nowrap {
    white-space: nowrap;
}

.no-margin-bottom {
    margin-bottom: 0px !important;
}

.no-margin-left {
    margin-left: 0px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

/********** adminLTE tweaks **********/
.menu-no-hover {
    background: rgba(0,0,0,0) !important;
    cursor: default;
}

.bg-white {
    background-color: #FFFFFF !important;
}

.text-white {
    color: #FFFFFF !important;
}

.content-header h1 {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 10px;
}

.dashboard-widget .info-box-icon {
    cursor: pointer;
}

.info-box-title {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*text-transform: uppercase;*/
}

/* Marquee-effect for too long titles. Enabled via JS
 * where required. */
.info-box-title.marquee-title:hover {
    text-overflow: none;
}
.info-box-title.marquee-title:hover span {
	/* Note: duration is actually controlled from JS */
	animation: marquee 3s linear infinite;
	display: inline-block;
}
@keyframes marquee {
	0%   { transform: translate(0, 0); }
	100% { transform: translate(-100%, 0); }
}


.info-box-detail {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.info-box-location, .info-box-state {
    padding-right: 10px;
    display: inline-block;
}

.dashboard-widget .info-box-content .well {
    margin-bottom: 0px !important;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 14px;
}

.control-sidebar-heading {
    margin-top: 0px !important;
}

/* Fix bug in adminLTE: select2 with many items are badly displayed */
.select2-container--default .select2-selection--multiple {
    border: 1px solid #d2d6de;
    border-radius: 0;
    height: 100% !important;
}

/* if adminLTE is not fixed, body color is uggly */
.body-light {
    background-color: #F9FAFC; /* light color */
}

.body-dark {
    background-color: #222D32; /* dark color */
}

