/* == 
Fix Gumby
*/
/*fix vertical tabs issue*/
.tabs.vertical .tab-nav > li {
    height: 39px;
    margin-bottom: 10px !important;
}

.tab-content {
    background-color:#FFFFFF;
    min-height: 350px;
}

/* fix css overwritten by jquery datatables trying to keep gumby style */
.odd {
    background-color: #E5E5E5 !important;
}

thead > tr > th {
    background-color: #3085D6 !important;
    border: 1px solid #3085D6 !important;
}

/* Fix buttons margin-bottom in table (take too much space)  */
table > tbody > tr > td > div.btn {
    margin-bottom: 0px;
}

/* == 
ago control Styles 
*/

body {
    background: #c8c8c8;
}

.container {
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 20px;
}

.btn { margin-bottom:10px; }

.btn-full {
  width: 100%;
}

#col-left { padding-top: 10px; }
#col-left .btn { text-transform: uppercase; }

#col-left hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #f6f6f6;
  margin: 1px 0 20px;
}

#col-left .btn-full a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#col-right {
	-moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -khtml-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
	background-color: #4a4d50;
}

#col-right #info { padding: 30px 0px 0px 20px; border-bottom: 1px solid #f6f6f6; margin-bottom: 20px; }
#col-right #info a {
	color: #c8c8c8;
	font-size: 0.8em;
}

#col-right #pagination {
	text-align: center;
}

/* =Grid Item
-----------------------------------------------------------------------------*/

#col-right #grid .row {
	margin-bottom: 15px;
}

#col-right #grid .grid-item .row {
    margin-bottom: 0px;
}

/* Rounded corners FF, Safari, Chrome */
#col-right .grid-item {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    height: 100%;
    min-height: 155px;
    background-color: #FFFFFF;
    background-image: url(../img/grid-item-bg.gif);
    background-repeat: repeat-x;
}
#col-right .grid-item-empty {
	background-image: url(../img/grid-item-empty-bg.gif);
}

#grid .grid-item-icon {
	margin: 10px 10px 3px 10px;
	height: 58px;
	width: 58px;
	overflow: hidden;
}

#grid .grid-item .room {
	white-space: nowrap;
	overflow: hidden;
	font-size: 0.8em;
	line-height: 0.8em; 
	margin: 3px 0px 0px 0px;
}
#grid .grid-item .info {
	white-space: nowrap;
	overflow: hidden;
	font-size: 0.8em;
	margin: 0px;
}

#grid .grid-item-icon i {
	color: #FFFFFF;
	font-size: 1.6em;
	font-weight: normal;
}

#grid .grid-item h3 {
	padding-bottom: 0px;
	font-size: 26px; 
	font-size: 1.625rem;
	white-space: nowrap;
	overflow: hidden;
}

#grid .grid-item-header {
	height: 78px;
}

#grid .grid-item-header i {
	margin: 0;
	min-width: 14px; 
}

#col-right #grid .grid-item-controls {
	padding: 6px 10px;
	color: #FFFFFF;
}

#col-right #grid .grid-item-controls li {
	margin: 0px;
}

#col-right #grid .grid-item-controls .field .input { 
	padding: 0 0px;
	height: 30px; 
	line-height: 28px; 
	font-size: 14px; 
	margin: 0px;
	font-weight: bold;
	text-align: center;
}

#col-right #grid .grid-item-controls .field .xnarrow { 
	width: 13%; 
}

#col-right #grid .grid-item-controls .field.prepend .adjoined, #col-right #grid .grid-item-controls .field.append #col-right #grid .grid-item-controls .adjoined { 
	padding: 0 10px 0 10px; 
	background: #f2f2f2; 
	border: 1px solid #d8d8d8;
	font-size: 14px; 
	height: 30px; 
	line-height: 28px; 
	margin: 0px;
}

#col-right #grid .grid-item-controls .field.prepend, #col-right #grid .grid-item-controls .field.append {
    font-size: 0;
    padding-bottom: 0px;
    white-space: nowrap;
}

#col-right #grid .grid-item-controls .btn.small { 
	font-size: 14px; 
	height: 30px; 
	line-height: 28px; 
}

/* small button for rgb dimmer - less hight */
#col-right #grid .grid-item-controls .row .btn.small {
    font-size: 14px;
    height: 26px;
    line-height: 24px;
    margin-bottom: 3px;
}

#col-right #grid .grid-item-controls .row .slider {
	margin: 8px;
    width: 90%;
}

#col-right #grid  .slider {
	margin: 0px 13px 0px 4px;
}


	
/* =Content Area
-----------------------------------------------------------------------------*/
#col-right #contentarea {
    margin: 0 20px 20px 20px;
    padding-bottom: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
}


/* =Dropdown button
-----------------------------------------------------------------------------*/
.btn-dropdown { padding:0px; margin:0px; list-style: none; border:0px; }
.btn-dropdown ul li { display: block; position: relative; float: left; top:-10px; border-bottom: 1px solid #CCCCCC; text-align:left; padding-left:10px; }
.btn-dropdown ul { list-style: none; display: none; height:0px; width:100%; z-index:999; padding:0px; margin:0px;  border:0px; }
.btn-dropdown ul li a { color:#000000; display: block; }
.btn-dropdown:hover ul {   display: block;   position: absolute; }
.btn-dropdown:hover ul li {  background-color:#FAFAFA;  float: none; } 
.btn-dropdown:hover ul li:hover { background: #F2F2F2; }

/* =specific style for dashboard device values
-----------------------------------------------------------------------------*/
.dashboard-line {
    margin-bottom:4px !important;
    height:30px;
}

.dashboard-line-quantity {
    background-color:#F2F2F2;
    height:30px;
    color:#555555;
    font-size:14px;
    font-weight:600;
    padding-left:10px;

}

.dashboard-line-level {
    background-color:#FFFFFF;
    height:30px;
    color:#000000;
    font-size:14px;
    font-weight:600;
    text-align:center;
    font-weight:bold;
}

.dashboard-line-xtra {
    background-color:#F2F2F2;
    height:30px;
    color:#555555;
    font-size:14px;
    font-weight:600;
    text-align:center;
}

.dashboard-editor {
    display:none;
    height:160px;
    width:100%;
    background-color:#DFDFDF;
    border-radius:10px;
}

/* =specific style for device list
-----------------------------------------------------------------------------*/
.device-list {
    background-color:#FFFFFF;
    border:1px solid #D8D8D8;
    margin:10px;
    padding:2px;
    width:95%;
    height:135px;
    border-radius:5px;
    overflow:scroll;
    overflow-x:hidden;

    /*background-image: url('/img/icon_trash-48.png');*/
}

.device-list-active {
    border:1px solid #3085D6;
    overflow:hidden;
    background-image: url('/img/icon_trash.png');
    background-repeat: no-repeat;
    background-position: center;
}

.device-list-hover {
    background-color:#3085D6;
}

.device-list-item {
    width:200px;
    height:30px;
    border:1px solid #A0A0A0;
    margin:2px;
    border-radius:5px;
    float:left;
    overflow:hidden;
    text-overflow:clip;
    white-space:nowrap;
    background-color:#DFDFDF;
    cursor:move;
}

.device-list-item i {
    margin-right:0px;
    color:#3085D6;
}


/* =Treeview Floorplan
-----------------------------------------------------------------------------*/
.tree {
    display: inline-block;
    margin: 0 0 50px;
    padding: 10px 15px 15px 0px;
}
.tree ul {
    list-style: none outside none;
}
.tree li a {
    line-height: 25px;
}
.tree > ul > li > a {
    color: #3B4C56;
    display: block;
    font-weight: normal;
    position: relative;
    text-decoration: none;
}
.tree li.parent > a {
    padding: 0 0 0 28px;
}
.tree li.parent > a:before {
    background-image: url("../img/plus_minus_icons.png");
    background-position: 25px center;
    content: "";
    display: block;
    height: 21px;
    left: 0;
    position: absolute;
    top: 2px;
    vertical-align: middle;
    width: 23px;
}
.tree ul li.active > a:before {
    background-position: 0 center;
}
.tree ul li ul {
    border-left: 1px solid #D9DADB;
    display: none;
    margin: 0 0 0 12px;
    overflow: hidden;
    padding: 0 0 0 25px;
}
.tree ul li ul li {
    position: relative;
}
.tree ul li ul li:before {
    border-bottom: 1px dashed #E2E2E3;
    content: "";
    left: -20px;
    position: absolute;
    top: 12px;
    width: 15px;
}

.eventBuilder dd dl {
    margin-left: 20px;
}
.eventBuilder dl:before {
    content: "{";
    font-weight: bold;
}
.eventBuilder dl:after {
    content: "}";
    font-weight: bold;
}

.btn i { cursor: pointer; }


/* =agoTable styles
-----------------------------------------------------------------------------*/
table.agoTable {
    width: 910px;
    margin: 15px 0 5px 0;
}

table.agoTable a {
    font-weight: 600;
}

table.agoTable thead th {
    font-weight: 700;
    border-bottom: 1px solid #000000;
    padding: 5px;
}

table.agoTable tr.even {
    background-color: #EAEBFF;
}

table.agoTable tr.odd {
    background-color: #D3D6FF;
}

table.agoTable td {
    padding: 5px;
}

/* =resolution for 800 x 600 devices 
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 1100px) {
        .container { padding: 0px 5px; }

        #col-left .btn-full a { text-overflow: clip; }

        /* the grid styles */
        #grid .btn.large { font-size: 22px; font-size: 1.375rem; height: 48px; line-height: 48px; }
        #grid .grid-item-icon { height: 34px; width: 34px; }
        #grid .grid-item-icon i { font-size: 1em; }
        #grid .grid-item h3 { font-size: 22px; font-size: 1.375rem; }
}

@media only screen and (max-width: 800px) {
        .container { padding: 0px 5px; }

        #col-left .btn-full a { text-overflow: clip; }

        /* the grid styles */
        #grid .btn.large { font-size: 22px; font-size: 1.375rem; height: 34px; line-height: 34px; }
        #grid .grid-item-icon { height: 34px; width: 34px; }
        #grid .grid-item-icon i { font-size: 1em; }
        #grid .grid-item h3 { font-size: 22px; font-size: 1.375rem; }
}

div.dashboard-widget {
    padding-top: 15px;
}

div.dashboard-widget-draggable {
    cursor:move;
}

div.dashboard-widget-header {
    background-color: #DFDFDF;
    margin-bottom:0px !important;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

div.dashboard-widget-header-active {
    border-top: 1px solid #3085D6;
    border-left: 1px solid #3085D6;
    border-right: 1px solid #3085D6;
}

div.dashboard-widget-header-hover {
    background-color: #3085D6;
}

div.dashboard-widget-header ul {
    height:75px;
}

div.dashboard-widget-header ul li.dashboard-widget-header-icon {
    width:70px;
    height:75px;
    text-align:center;
}

div.dashboard-widget-header ul li.dashboard-widget-header-icon div {
    margin-top:10px;
    margin-left:10px;
}

div.dashboard-widget-header ul li.dashboard-widget-header-icon div i {
    color:#FFFFFF;
    font-size:46px;
    font-weight:normal;
    height:48px;
    width:48px;
}

div.dashboard-widget-header ul li.dashboard-widget-header-infos {
    width: auto;
    max-width: 65%;
    height:75px;
}

div.dashboard-widget-content-buttons ul.one_up {
    padding-left:10px;
}

.dashboard-widget-header-infos h3 {
    padding-bottom:0px;
    font-size:26px;
    white-space:nowrap;
    overflow:hidden;
    height:40px;
}

.dashboard-widget-header-info {
    height:28px;
    margin-top:-8px;
}

.dashboard-widget-header-info i {
    margin:0px;
    min-width:16px;
    font-size:13px;
    margin:0px !important;
}

.dashboard-widget-header-info span {
    white-space:nowrap;
    font-size:13px;
    overflow:hidden;
}

div.dashboard-widget-content {
    height:77px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    padding-top:5px;
    margin-right:10px;
    /*background-color:#C8C8C8;*/
    /*background-color: #E9E0D6; beige*/
    /*background-color:#ADC4CC; ton bleu*/
    
    /*background-color: #4A4D50; gumby menu*/
    background-color: #FFFFFF;
}

div.dashboard-widget-content-active {
    border-bottom: 1px solid #3085D6;
    border-left: 1px solid #3085D6;
    border-right: 1px solid #3085D6;
}

div.dashboard-widget-content-hover {
    background-color: #7AA8D3;
}

div.dashboard-widget-content-values {
}

div.dashboard-widget-content-buttons {
}

div.dashboard-widget-content-values ul {
    margin:0px;
    height:30px;
    background-color:#F2F2F2;
    margin-left:0px !important;
    margin-bottom: 5px;
}

div.dashboard-widget-content-buttons ul {
    margin:0px;
    height:38px;
    margin-left:0px !important;
    margin-bottom: 5px;
}

div.dashboard-widget-content ul li.dashboard-widget-content-quantity {
    /*margin-left:5px;*/
    background-color:#F2F2F2;
    height:30px;
    color:#555555;
    font-size:14px;
    font-weight:600;
    padding-left:4px;
    overflow:hidden;
}

div.dashboard-widget-content ul li.dashboard-widget-content-unit {
    /*margin:0px;*/
    /*background-color:#FFFFFF;*/
    background-color: #F2F2F2;
    text-align:center;
    font-size:14px;
    font-weight:bold;
    color:#000000;
    height:30px;
}

div.dashboard-widget-content ul li.dashboard-widget-content-button {
    text-align:center;
    padding-right:10px;
    color:#FFFFFF;
}

@media only screen and (min-width:768px) and (max-width: 1100px) {
    div.dashboard-widget-header ul {
        height:60px;
    }
    div.dashboard-widget-header ul li.dashboard-widget-header-icon {
        width:50px;
    }
    div.dashboard-widget-header ul li.dashboard-widget-header-icon div {
        height:40px !important;
        line-height:40px !important;
    }
    div.dashboard-widget-header ul li.dashboard-widget-header-icon div i {
        font-size:26px;
        height:32px;
        width:32px;
    }
    .dashboard-widget-header-infos h3 {
        font-size:22px;
        height:34px;
    }
    .dashboard-widget-header-info {
        height:24px;
        margin-top:-10px;
    }
    .dashboard-widget-header-info i {
        font-size:12px;
        height:24px;
    }
    .dashboard-widget-header-info span {
        font-size:12px;
        height:24px;
    }
}

@media only screen and (max-width: 767px) {
    body {
        background-color: #4a4d50;
    }

    #col-left {
        padding: 0 5px;
    }

    #col-left hr {
        display:none;
    }

    /* hide floorplan element tree in navigation */
    #col-left div.tree {
        display:none;
    }

    /* hide logo header */
    #col-right #header {
        display:none;
    }

    #col-right #grid .row {
        margin-bottom: 0px;
    }

    #col-right #grid .four {
        margin-top: 10px;
    }

    div.dashboard-widget-header ul {
        height: 70px;
    }
    div.dashboard-widget-header ul li.dashboard-widget-header-icon {
        width:50px;
        margin-top:8px;
    }
    div.dashboard-widget-header ul li.dashboard-widget-header-icon div {
        height:40px !important;
        margin-top:2px;
    }
    div.dashboard-widget-header ul li.dashboard-widget-header-icon div i {
        font-size:28px;
        height:30px;
        width:30px;
    }
    .dashboard-widget-header-infos h3 {
        font-size:26px;
        height:38px;
    }
    .dashboard-widget-header-info {
        height:20px;
        margin-top:-8px;
    }
    .dashboard-widget-header-info i {
        font-size:12px;
        height:20px;
        margin:0px !important;
    }
    .dashboard-widget-header-info span {
        font-size:12px;
        height:20px;
    }

}

